.App {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-gap: 5%;
  /* border: 2px solid black; */
  height: 500px;
  width: 1000px;
  margin: auto;
  padding: 2%;
}

.data {
  height: 150px;
  width: 400;
  border: 2px solid rgb(232, 189, 91);
  background-color: rgb(252, 230, 204);
}

.data1 {
  height: 150px;
  width: 400;
  border: 2px solid rgb(158, 182, 216);
  background-color: rgb(219, 232, 252);
}
.data2 {
  height: 150px;
  width: 400px;
  border: 2px solid rgb(193, 101, 97);
  background-color: rgb(246, 206, 204);
}
.data3 {
  height: 150px;
  width: 400;
  border: 2px solid rgb(142, 186, 117);
  background-color: rgb(213, 232, 212);
}
